<p id="notice"><%= notice %></p>

<p>
  <strong>Sede:</strong>
  <%= @local.sede %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @local.direccion %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
